.index {
  margin: 72px auto 20px;
  /* https://colorleap.app/time/1910 */
}
.index .post {
  padding-top: 24px;
  border-radius: 8px;
  cursor: pointer;
}
.index .post .sub {
  font-size: 12px;
  margin-top: 8px;
  display: flex;
}
.index .post .date,
.index .post .author {
  color: #809181;
  margin-right: 12px;
}
.index .post .date {
  color: #d17028;
  opacity: 0.4;
}
.index .post a {
  text-decoration: none;
}
.index .post .excerpt {
  font-size: 14px;
  line-height: 1.5;
  color: #313c3e;
}
.index .post h2 {
  color: rgba(49, 60, 62, 0.9333333333);
  font-size: 24px;
}
.index h6 {
  color: #d17028;
  color: #ebd7c3;
  color: #e7b67b;
  color: #809181;
  color: #313c3e;
}
