.post-page {
  padding: 32px 0;
  color: #D17028;
  color: #EBD7C3;
  color: #E7B67B;
  color: #809181;
  color: #313C3E;
}
.post-page * {
  color: #313c3e;
  font-size: 16px;
}
.post-page p {
  margin-bottom: 20px;
  line-height: 1.5em;
  font-size: 16px;
}
.post-page ul,
.post-page ol {
  padding: 12px 0;
}
.post-page ul li,
.post-page ol li {
  line-height: 1.6rem;
  font-size: 16px;
}
.post-page ul li::before,
.post-page ol li::before {
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: rgba(49, 60, 62, 0.6431372549);
  border-radius: 50%;
  margin-right: 8px;
  content: " ";
  vertical-align: middle;
  margin-top: -2px;
}
.post-page a {
  color: #D17028;
}
.post-page code {
  border-radius: 4px;
  padding: 0px 4px;
  opacity: 0.8;
  color: #313C3E;
  background-color: rgba(231, 182, 123, 0.1490196078);
}
.post-page h1 {
  font-size: 32px;
  padding: 50px 0 12px;
}
.post-page .commonBefore:before {
  width: 12px;
  height: 28px;
  display: inline-block;
  background-color: rgba(209, 112, 40, 0.6);
  margin-right: 8px;
  content: " ";
  margin-top: 2px;
}
.post-page h2 {
  font-size: 28px;
  padding: 40px 0 12px;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #D17028;
}
.post-page h2:first-child {
  padding-top: 12px;
}
.post-page h2 + h3 {
  padding-top: 12px;
}
.post-page h3 {
  font-size: 24px;
  padding: 24px 0 12px;
}
.post-page h4 {
  padding: 24px 0 6px;
  font-size: 20px;
}
.post-page h5 {
  font-size: 18px;
  font-weight: 600;
}
.post-page h6 {
  font-size: 16px;
  font-weight: 600;
}
.post-page img {
  padding: 32px;
}
.post-page blockquote {
  background-color: rgba(49, 60, 62, 0.062745098);
  padding: 12px 24px 12px 16px;
  border-radius: 4px;
}
.post-page blockquote * {
  color: rgba(49, 60, 62, 0.6);
}
.post-page pre {
  background-color: rgba(49, 60, 62, 0.062745098);
  padding: 24px 24px;
  border-radius: 4px;
  margin: 12px 0;
}
.post-page pre code {
  background-color: transparent;
  color: rgba(49, 60, 62, 0.6666666667);
  line-height: 24px;
  font-size: 16px;
  white-space: pre-wrap;
}
