.post-page{
    padding-top: 20px;
}

.post-page p{
        margin-bottom: 20px;
        line-height: 1.5em;
        font-size: 16px;
        color:#313C3E
}

.post-page h1{}
.post-page h2{}
.post-page h3{}
.post-page h4{}